.content-wrapper {
    width: 70%; 
    display: flex;
    flex-direction: column;
}

.border-bottom {
    border-bottom: 3px darkgray solid;
    width: 100%;
}

.border-bottom > h4 {
    margin: 0; 
}

fieldset {
    border: 0; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 0;
}

hr {
    border-bottom: 3px solid darkgray; 
    width: 100%;
    margin: 0;
}

.blue-text {
    color: teal;
}

.content-wrapper > h3 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.content-wrapper > form > h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;

}

.content-wrapper > form > h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    
}

.content-wrapper > form > input {
    width: 45%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(205, 226, 233);
}

.content-wrapper > form > textarea {
    width: 45%;
    height: 10rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(205, 226, 233);
}

.content-wrapper > form > select {
    width: 20%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(205, 226, 233);
}

form > button {
    margin-top: 1rem;
    width: fit-content;
    padding-top:.5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: orangered;
    border: 3px solid black;
    box-shadow: 3px 3px black;
}