.event-group-link-box {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0; 
}

.content-wrapper {
    width: 65%;
}

.content-wrapper > a:hover {
    text-decoration: none
}

.content-wrapper > a {
    color: black;
}

.display-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid lightgray 4px;
    gap: 15px; 
}

.display-wrapper > div > img {
    width: 100%; 
}

.text-content-box {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    overflow-wrap: break-word;
}

.text-content-box > h2 {
    margin: 0; 
}

.tag-line {
    color: lightgray;
}

.admin-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}