.event-display-upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event-display-upper-inner-right {
    display: flex;
    flex-direction: row;
}

.event-display-upper-inner-right >img {
    width: 25%; 
}

.group-name-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-display-upper-inner-right-lower {
    display: flex;
    flex-direction: column;
    height: fit-content; 
    background-color: whitesmoke;
}

.event-display-upper-inner-right-lower >div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-display-upper-inner-right-lower >div > div {
    display: flex;
    flex-direction: column;
}

.horizontal-division {
    display: grid;
    grid-template-rows: 1fr 2fr;
}