body {
    display: flex;
    justify-content: center;
    font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}